name: CI  # 任务名称

# 事件
on:
  # push master 分支的时候触发；
  push:
    branches: [ master ]
  # 手动触发工作流；
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true

# 工作流运行由一个或多个任务组成，这些任务按顺序或并行运行
jobs:
  # 工作流包含一个 build 的任务
  build:
    # build 任务运行环境为 ubuntu 最新版
    runs-on: ubuntu-latest

    # 输出映射
    outputs:
      test: 我还不会动态传参
    
    # 任务步骤
    steps:
      # actions 拉代码到当前环境
      - name: git checkout
        uses: actions/checkout@v3
      
      # 设置 node 环境  如果不知道可以再 Marketplace 下搜索
      - name: install NodeJs env
        uses: actions/setup-node@v3
        # 安装 node 的具体命令
        with:
          node-version: "16.13.x"
      
      # 给项目安装依赖
      - name: npm install
        run: npm install
      
      # 打包项目
      - name: npm run build:github
        run: npm run build:github

      # 将打包好的dist文件复制到项目
      - name: Upload the dist file to the www branch
        # Deploy to GitHub Pages
        # https://github.com/marketplace/actions/deploy-to-github-pages
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          token: ${{ secrets.SHOP_CI_TOKEN }}
          branch: www #部署提交到的分支
          folder: dist # 打包好的目录

  # 工作流中又包含了一个 console-test 任务，依赖 build 任务
  console-test:
    runs-on: ubuntu-latest
    needs: [build] # 任务依赖关系

    steps:
      - name: 输出上下文
        run: |
          pwd
          echo ${{ needs.build.outputs.test }}
          exit
        
        
  
